<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/search.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    </head>
<body>
    <style type="text/css">
a{
		color: #777;
		padding:  10px 15px;
		display: block;
		line-height: 30px;	
	}
</style>

<nav class="navbar navbar-defult">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-boand" href="#">로고</a>
	</div>

	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Project</a></li>
			<li><a href="#">Co-Worker</a></li>
            <li><a href="#">My Page</a></li>
		</ul>
		<form class="navbar-form navbar-right" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="검색">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</nav>
    <div class="se1">
    <input type="text" placeholder="Search your co-worker" name="search"/>
    <select>
        <option>Project</option>
        <option>Person</option>
        </select>
    <input type="button" value="Search"/>
    </div>
    <div>
<%if(contents.length>0){%>
        <%var i = 0;%>
        <%contents.forEach(function(item){%>
        <%i++;%>
        <div class="panel panel-default">
      <div class="panel-heading">
        <div class="text-muted pull-right">
          <% if (item.author === "Anonymous") {%>
          by <%= item.author %>
          <%} else {%>
          <a href="/users/<%= item.writer %>">by <%= item.writer %></a>
          <% } %>
          <%= item.date %>
        </div>
        <%= item.title %>
      </div>
      <div class="panel-body">
        <%= item.spec %> 
	  </div>
	  <div class="panel-body">
		  <%= item.workstyle %>
    </div>
        <%})%>
<% } else { %>   No entries! <a href="/new-profile">Add one!</a>
<% } %>
    </div>
     <script type="text/javascript" src="javascripts/bootstrap.js"></script>
     <script type="text/javascript" src="javascripts/jquery-3.0.0.min.js"></script>
    </body>





</html>